/* LIGHT MODE */
#light {
  --color-pages-bg-color: #f9effc;
  --color-pages-header-color: #303030;
  --color-pages-subtext-color: #707070;
  --color-pages-input-bg-color: #f6f6f6;
  --color-pages-input-placeholder-color: #707070;
  --color-pages-input-text-color: #303030;
  --color-pages-input-shadow-color: rgba(112, 112, 112, 0.1);
  --color-pages-button-text-color: #f6f6f6;
  --color-pages-button-bg-color: #a307d5;
  --color-pages-link-color: #a307d5;
  --color-chat-feed-header-text-color: #303030;
  --color-chat-feed-header-button-color: #303030;
  --color-chat-feed-bg-color: #f9effc;
  --color-chat-preview-conversation-name-color: #303030;
  --color-chat-preview-conversation-preview-color: #707070;
  --color-chat-bg-color: #f6f6f6;
  --color-chat-header-name-color: #303030;
  --color-chat-header-status-color: #707070;
  --color-shared-status-indicator-online-color: #00ff66;
  --color-shared-status-indicator-offline-color: #707070;
  --color-chat-message-friend-bg-color: #f6e5fb;
  --color-chat-message-friend-text-color: #303030;
  --color-chat-message-user-bg-color: #c158e3;
  --color-chat-message-user-text-color: #f6f6f6;
  --color-chat-text-area-bg-color: #e8e8e8;
  --color-chat-text-area-placeholder-color: #969696;
  --color-chat-button-add-image-bg-color: #a307d5;
  --color-chat-button-add-image-text-color: #f6f6f6;
  --color-chat-button-submit-bg-color: #efac54;
  --color-chat-button-submit-text-color: #f6f6f6;
  --color-settings-bg-color: #f6f6f6;
  --color-settings-user-name-color: #303030;
  --color-settings-user-status-color: #303030;
  --color-settings-settings-header-color: #303030;
  --color-settings-settings-options-color: #707070;
  --color-border-color: rgba(112, 112, 112, 0.4);;
  --color-settings-darkmode-text-color: #707070;
  --color-settings-darkmode-toggle-light-bg-color: #efac54;
  --color-settings-darkmode-toggle-dark-bg-color: #efac54;
  --color-settings-log-out-bg-color: #b8b8b8;
  --color-settings-log-out-bg-hover-color: #d90000;
  --color-shared-empty-state-color: #303030;
  --color-shared-empty-state-link-color: #a307d5;
  --color-pop-up-component-bg-color: #f6f6f6;
  --color-pop-up-component-header-color: #595959;
  --color-pop-up-component-input-bg-color: #f6f6f6;
  --color-pop-up-component-input-border-color: #a9a9a9;
  --color-pop-up-component-input-placeholder-color: #707070;
  --color-pop-up-component-button-bg-color: #a307d5;
  --color-pop-up-component-button-text-color: #f6f6f6;
  --color-pop-up-component-go-back-text-color: #707070;
}

/* DARK MODE */
#dark {
  --color-pages-bg-color: #442e4b;
  --color-pages-header-color: #f6f6f6;
  --color-pages-subtext-color: #c0c0c0;
  --color-pages-input-bg-color: #f6f6f6;
  --color-pages-input-placeholder-color: #707070;
  --color-pages-input-text-color: #303030;
  --color-pages-input-shadow-color: rgba(112, 112, 112, 0.1);
  --color-pages-button-text-color: #f6f6f6;
  --color-pages-button-bg-color: #e8aa15;
  --color-pages-link-color: #e8aa15;
  --color-chat-feed-header-text-color: #f6f6f6;
  --color-chat-feed-header-button-color: #f6f6f6;
  --color-chat-feed-bg-color: #492b53;
  --color-chat-preview-conversation-name-color: #f6f6f6;
  --color-chat-preview-conversation-preview-color: #efdff4;
  --color-chat-bg-color: #442e4b;
  --color-chat-header-name-color: #f6f6f6;
  --color-chat-header-status-color: #dadada;
  --color-shared-status-indicator-online-color: #00ff66;
  --color-shared-status-indicator-offline-color: #707070;
  --color-chat-message-friend-bg-color: #5c3966;
  --color-chat-message-friend-text-color: #f6f6f6;
  --color-chat-message-user-bg-color: #8313a8;
  --color-chat-message-user-text-color: #f6f6f6;
  --color-chat-text-area-bg-color: #4e2959;
  --color-chat-text-area-placeholder-color: #f9effc;
  --color-chat-button-add-image-bg-color: #a307d5;
  --color-chat-button-add-image-text-color: #f6f6f6;
  --color-chat-button-submit-bg-color: #ea8e15;
  --color-chat-button-submit-text-color: #f6f6f6;
  --color-settings-bg-color: #46324d;
  --color-settings-user-name-color: #f6f6f6;
  --color-settings-user-status-color: #dadada;
  --color-settings-settings-header-color: #f6f6f6;
  --color-settings-settings-options-color: #dadada;
  --color-border-color: rgba(112, 112, 112, 0.4);
  --color-settings-darkmode-text-color: #dadada;
  --color-settings-darkmode-toggle-light-bg-color: #a307d5;
  --color-settings-darkmode-toggle-dark-bg-color: #a307d5;
  --color-settings-log-out-bg-color: #281825;
  --color-settings-log-out-bg-hover-color: #d90000;
  --color-shared-empty-state-color: #f6f6f6;
  --color-shared-empty-state-link-color: #efac54;
  --color-pop-up-component-bg-color: #442e4b;
  --color-pop-up-component-header-color: #f6f6f6;
  --color-pop-up-component-input-bg-color: #f6f6f6;
  --color-pop-up-component-input-border-color: #a9a9a9;
  --color-pop-up-component-input-placeholder-color: #707070;
  --color-pop-up-component-button-bg-color: #e8aa15;
  --color-pop-up-component-button-text-color: #f6f6f6;
  --color-pop-up-component-go-back-text-color: #dadada;
}
